body {
    font-family: 'Merriweather', serif;
}

section {
    background-color: white;
}


.hero {
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 40px;
}

footer {
    height: 500px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding : 0 10px 0 10px;

}

ul {
    display: flex; 
    list-style-type: none;
    width: 650px;
    justify-content: space-around;
    font-size: 30px;
}

ul.show {
    display: block;
}

li {
    padding : 0 10px 0 10px;
    text-decoration: none;
}

h1 {
    font-size: 90px;
    margin: 0;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
}


p {
    margin: 0;
    font-size: 35px;
    font-weight: 300;
}

.subtext {
    font-size: 15px;
    font-weight: 300;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 100px;
}

.button {
    width: 200px;
    height: 55px;
    background-color: coral;
    border-radius: 40px;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px; 
    margin-top: 20px;
}

.button:hover{
    background-color:#ef744b;
}

.button:active{
    background-color: #A9A9A9;
    color: #808080;
}

.socials {
    padding-bottom: 150px;
    margin: 10px
}

.social {
    margin: 10px;
    text-decoration: none;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.headshot {
    width: 300px;
    border-radius: 150px;
}

.headshot-container {
    display: flex;
    align-items: center;
}

.zelda-picture {
    width: 500px;
    border-radius: 150px;
}

.zelda-container {
    display: flex;
    align-items: center;
}

.the-long-road-picture {
    width: 500px;
    border-radius: 150px;
}
.project-card {
    width: 250px;
    height: 500px;
    border: 1px solid black;
    box-shadow: 5px 5px 20px gray;
    margin: 10px;
}

.project-container {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
}

.project-image {
    width: 250px;
    height: 200px;
    margin-top: 25px;
    border-radius: 50px;
}

.description {
    height: 150px;
}

.project-title {
    height: 35px;
    width: 100;
}

.project-link{
    text-decoration: none;
    color: #ef744b
}

a {
    text-decoration: none;
    color: white;
}

.information a {
    color: #a52a2A;
    text-decoration: underline;
}

.games a {
    color: #a52a2A;
    text-decoration: underline;
}

.hamburger {
    display: none;
}

.hamburger:focus{
    outline: 0;
}
@media only screen and (max-width: 1000px) {
    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }

    ul {
        display: none;
        background-color: #2b2c38;
        margin: 0px;
    }

    nav {
        display:flex;
        flex-direction: column-reverse;
        background-color: #2b2c38;
    }
    
    .logo {
        display: none;
    }
}